/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@layer components{
  .pagesLinks{
    @apply my-2 text-sm font-bold text-center px-2 tracking-wide 
  }
  .btnProduct{
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded uppercase
  }
  .centered{
    @apply flex justify-center items-center
  }
}

a{
  text-decoration: none;
}

.word-des td {
    padding: 10px;
    font-size: 16px;  
}
.word-des th {
  font-size: 20px;
}

.box-container{
  background: #F9FAFB;
}
.css-1ifcsjq-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  background: #F9FAFB;
  padding: 0 6px;
}
