
.ctg-all{
    padding-top: 150px;
}

.ant-spin-container{
    padding-right: 10px;
}

.ant-table-pagination{
    justify-content: center !important;
}

.ant-pagination-options{
    visibility: hidden;
}

.ant-input-wrapper{
    /* width: 60vh; */
    width: 100%;
    margin-bottom: 40px;
    padding-right: 10px;
    padding-left: 400px
}

.ant-btn{
    width: 15vh;
}

.ctg-sbt{
    display: flex;
}

.ant-table-column-title{
    text-align: center;
}

.ant-table-cell-action{
    text-align: center !important;
}
